<h2 class="dialog-title">Edit Position For Employee</h2>
<div class="dialog-content" id="dialog-content">
  <form *ngIf="positionEmployee" [formGroup]="EditPositionEmployeeForm" class="form">
 
      <div class="form-row">
        <mat-form-field class="form-field">
          <mat-select placeholder="Is Management" formControlName="isManagement">
            <mat-option [value]="true">True</mat-option>
            <mat-option [value]="false">False</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    <div class="form-row">
        <mat-form-field>
          <input matInput [matDatepicker]="picker1" formControlName="entryDate" placeholder="Choose an entry date">
            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
          </mat-form-field>
      </div>
      <div class="dialog-actions">
        <div class="btn-group" position="group" aria-label="Default button group">
            <button type="button" class="btn btn-outline-dark" (click)="close()">Cancel</button>
            <button type="button" class="btn btn-outline-dark" (click)="save()" [disabled]="!EditPositionEmployeeForm.valid">Save</button>
          </div>
    </div>
  </form>

</div>

