.button {
  border: none;
  background-color: white;
  border-radius: 0%;
}
.example-spacer {
  flex: 1 1 auto;
}

.search_input {

  border: 0;
  outline: 0;
  background: none;
  width: 0;
  caret-color: transparent;
  line-height: 40px;
  transition: width 0.4s linear;
}

.searchbar:hover>.search_input {
  padding: 0 10px;
  width: 200px;
  caret-color: #30d6d6;
  transition: width 0.4s linear;
}

.searchbar:hover>.search_icon {
  background: white;
  color: #1cbbbb;
}

.search_icon {
  height: 40px;
  width: 40px;
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  text-decoration: none;
}

.topbar {
  direction: ltr;
  background-color: white;
  margin-bottom: 3%;
}