<mat-toolbar class="topbar">
   
    <span>Position Managment</span>
    <span class="example-spacer"></span>
    <div class="searchbar">
        <input class="search_input" type="text" name="" placeholder="Search..." (keyup)="applyFilter($event)" >
         <mat-icon  class="search_icon">search</mat-icon>
      </div>
      <button mat-icon-button color="example-icon" (click)="openAddPositionEmployeeDialog()">
        <mat-icon>add</mat-icon>
       </button>
      
</mat-toolbar>
<mat-table  [dataSource]="positionsOfEmployees">


    <!-- position Name Column -->
    <ng-container matColumnDef="positionName">
        <mat-header-cell *matHeaderCellDef> Position Name </mat-header-cell>
        <mat-cell *matCellDef="let positionEmployee"> {{positionEmployee.position.positionName}} </mat-cell>
    </ng-container>

    <!-- Entry Date Column -->
    <ng-container matColumnDef="entryDate">
        <mat-header-cell *matHeaderCellDef> Entry Date </mat-header-cell>
        <mat-cell *matCellDef="let positionEmployee"> {{positionEmployee.entryDate | date}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="isManagement">
        <mat-header-cell *matHeaderCellDef> Is Management </mat-header-cell>
        <mat-cell *matCellDef="let positionEmployee"> {{ positionEmployee.isManagement ? 'TRUE' : 'FALSE' }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef> Actions </mat-header-cell>
        <mat-cell *matCellDef="let positionEmployee">
            <button mat-icon-button (click)="openEditPositionOfEmployeeDialog(positionEmployee)" class="button">
                <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button (click)="deletePositionOfEmployee(positionEmployee)" class="button">
                <mat-icon>delete</mat-icon>
            </button>
        </mat-cell>
    </ng-container>
    
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>
