<mat-toolbar class="topbar">

  <span class="headText">Edit Employee</span>
  <span class="example-spacer"></span>

  <button mat-icon-button color="example-icon" (click)="return()" class="button">
    <mat-icon>backspace </mat-icon>
  </button>
</mat-toolbar>
<div class="d-flex wrap">
  <div class="flex-son p-6">
    <app-position-employee-table [employeeId]="this.route.snapshot.params['id']"></app-position-employee-table>

  </div>
  <form *ngIf="updateEmployee" [formGroup]="editEmployeeForm" class="form p-6">
    <div class="form-row">
      <mat-form-field class="form-field">
        <input matInput placeholder="First Name" formControlName="firstName">
        <mat-error *ngIf="editEmployeeForm.get('firstName').hasError('minlength')">
          * First Name must be 2 characters long at least.
        </mat-error>
      </mat-form-field>
    </div>
    <div class="form-row">
      <mat-form-field class="form-field">
        <input matInput placeholder="Last Name" formControlName="lastName">
        <mat-error *ngIf="editEmployeeForm.get('lastName').hasError('minlength')">
          * Last Name must be 2 characters long at least.
        </mat-error>
      </mat-form-field>
    </div>
    <div class="form-row">
      <mat-form-field class="form-field">
        <input matInput placeholder="Identity" formControlName="identity">
        <mat-error *ngIf="editEmployeeForm.get('identity').hasError('minlength')">
          * Identity must be 9 characters long and include just numbers.
        </mat-error>
      </mat-form-field>
    </div>
    <div class="form-row">
      <mat-form-field>
        <input matInput [matDatepicker]="picker1" formControlName="birthDate" placeholder="Choose a birth date">
        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
        <mat-datepicker #picker1></mat-datepicker>
        <mat-error *ngIf="validateBirthDate">
          * Birth date must be at least 18 years in the past.
        </mat-error>
      </mat-form-field>
    </div>
    <div class="form-row">
      <mat-form-field>
        <input matInput [matDatepicker]="picker2" formControlName="entryDate" placeholder="Choose an entry date">
        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
        <mat-datepicker #picker2></mat-datepicker>
        <mat-error *ngIf="validateBirthDate">
          * Entry date must be at least when age 18 years.
        </mat-error>
      </mat-form-field>
    </div>
    <div class="form-row">
      <mat-form-field class="form-field">
        <mat-select placeholder="Gender" formControlName="gender">
          <mat-option [value]="0">Male</mat-option>
          <mat-option [value]="1">Female</mat-option>
        </mat-select>
      </mat-form-field>

    </div>

    <div class="btn-group" position="group" aria-label="Default button group">
      <button type="button" class="btn btn-outline-dark" (click)="close()">Cancel</button>
      <button type="button" class="btn btn-outline-dark" (click)="save()"
        [disabled]="!editEmployeeForm.valid">Save</button>
    </div>
  </form>


</div>